.irc_bold
  font-weight: bold

.irc_italic
  font-style: italic

.irc_underline
  text-decoration: underline

[data-irc_foreground="0"]
  color: #ffffff

[data-irc_foreground="1"]
  color: #000000

[data-irc_foreground="2"]
  color: #000080

[data-irc_foreground="3"]
  color: #008000

[data-irc_foreground="4"]
  color: #ff0000

[data-irc_foreground="5"]
  color: #800000

[data-irc_foreground="6"]
  color: #800080

[data-irc_foreground="7"]
  color: #ffa500

[data-irc_foreground="8"]
  color: #ffff00

[data-irc_foreground="9"]
  color: #00ff00

[data-irc_foreground="10"]
  color: #008080

[data-irc_foreground="11"]
  color: #00ffff

[data-irc_foreground="12"]
  color: #4169e1

[data-irc_foreground="13"]
  color: #ff00ff

[data-irc_foreground="14"]
  color: #808080

[data-irc_foreground="15"]
  color: #c0c0c0

[data-irc_background="0"]
  background-color: #ffffff

[data-irc_background="1"]
  background-color: #000000

[data-irc_background="2"]
  background-color: #000080

[data-irc_background="3"]
  background-color: #008000

[data-irc_background="4"]
  background-color: #ff0000

[data-irc_background="5"]
  background-color: #800000

[data-irc_background="6"]
  background-color: #800080

[data-irc_background="7"]
  background-color: #ffa500

[data-irc_background="8"]
  background-color: #ffff00

[data-irc_background="9"]
  background-color: #00ff00

[data-irc_background="10"]
  background-color: #008080

[data-irc_background="11"]
  background-color: #00ffff

[data-irc_background="12"]
  background-color: #4169e1

[data-irc_background="13"]
  background-color: #ff00ff

[data-irc_background="14"]
  background-color: #808080

[data-irc_background="15"]
  background-color: #c0c0c0