@import "util"
@import "icons"
@import "font"

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background: #F2F2F2
  font-family: 'Roboto', sans-serif
  font-size: 81.25%

*:focus
  outline: none

@import "nav"
@import "content"