@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../icons/MaterialIcons-Regular.woff2) format("woff2"), url(../icons/MaterialIcons-Regular.woff) format("woff"); }
.icon {
  font-family: "Material Icons", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v15-latin-ext_cyrillic_greek-ext_cyrillic-ext_latin_greek_vietnamese-regular.woff2") format("woff2"), url("../fonts/roboto-v15-latin-ext_cyrillic_greek-ext_cyrillic-ext_latin_greek_vietnamese-regular.woff") format("woff"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v15-latin-ext_cyrillic_greek-ext_cyrillic-ext_latin_greek_vietnamese-700.woff2") format("woff2"), url("../fonts/roboto-v15-latin-ext_cyrillic_greek-ext_cyrillic-ext_latin_greek_vietnamese-700.woff") format("woff"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #F2F2F2;
  font-family: "Roboto", sans-serif;
  font-size: 81.25%; }

*:focus {
  outline: none; }

.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 56px;
  z-index: 2; }
  .nav .container {
    background: #0271B3;
    padding: 0 6rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    transition: background 0.15s; }
    .nav .container .searchBar {
      max-width: 1136px;
      margin: 10px auto;
      height: 36px;
      display: flex;
      position: relative;
      border: none;
      transition: background 0.15s;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 2px;
      padding: 0 0 0 72px;
      color: #ffffff;
      flex-direction: row; }
      .nav .container .searchBar:hover {
        background: rgba(255, 255, 255, 0.3); }
      .nav .container .searchBar .icon {
        display: inline-block;
        width: 72px;
        height: 36px;
        position: absolute;
        text-align: center;
        line-height: 36px;
        left: 0;
        top: 0; }
      .nav .container .searchBar .search {
        display: inline-block;
        flex-grow: 1;
        flex-shrink: 1;
        background: none;
        border: none;
        line-height: 100%;
        color: #ffffff;
        font-size: 1rem; }
        .nav .container .searchBar .search::-moz-placeholder {
          color: #ffffff;
          opacity: 1;
          -moz-osx-font-smoothing: grayscale; }
        .nav .container .searchBar .search::-webkit-input-placeholder {
          color: #ffffff;
          opacity: 1;
          -webkit-font-smoothing: antialiased; }
  .nav .actions {
    position: absolute;
    height: 56px;
    z-index: 8;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 30px;
    padding-right: 30px; }
    .nav .actions a {
      height: 30px;
      width: 30px;
      position: relative;
      padding: 3px;
      cursor: pointer;
      color: #fff;
      transition: all 0.15s;
      text-decoration: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; }
      .nav .actions a:hover:before {
        background-color: rgba(0, 0, 0, 0.12);
        bottom: -4px;
        content: " ";
        left: -4px;
        margin: auto;
        padding: 4px;
        position: absolute;
        right: -4px;
        top: -4px;
        z-index: -1;
        border-radius: 50%; }
  .nav .history {
    top: 100%;
    max-width: 1328px;
    margin: auto;
    padding: 0 6rem;
    transform: translateY(-200%);
    transition: transform 400ms;
    position: relative; }
    .nav .history ul {
      list-style-type: none;
      margin: 0;
      padding: 6px 0;
      background: #fff;
      box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
      .nav .history ul li {
        cursor: pointer;
        line-height: 36px;
        overflow: hidden;
        padding: 0 24px;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .nav .history ul li:hover, .nav .history ul li:focus, .nav .history ul li.selected {
          background: rgba(0, 0, 0, 0.03); }
        .nav .history ul li .icon {
          border-radius: 12px;
          height: 24px;
          margin-right: 24px;
          vertical-align: middle;
          width: 24px;
          display: inline-block;
          background-size: cover;
          opacity: 0.6; }
      .nav .history ul p {
        cursor: default;
        line-height: 36px;
        overflow: hidden;
        padding: 0 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-style: italic;
        color: #646464; }
  .nav.focus .container {
    background: #f2f2f2; }
    .nav.focus .container .searchBar {
      background: #ffffff; }
      .nav.focus .container .searchBar .search {
        color: #333333; }
        .nav.focus .container .searchBar .search::-moz-placeholder {
          color: #757575; }
        .nav.focus .container .searchBar .search::-webkit-input-placeholder {
          color: #757575; }
  .nav.focus .history {
    transform: translateY(0); }
  .nav.focus .icon {
    color: #333333; }
  .nav.focus + .results {
    opacity: 0; }

.results {
  max-width: 1328px;
  padding: 56px 6rem 8rem 6rem;
  margin: 0 auto;
  transition: opacity 400ms; }
  .results .buffer {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    border: transparent;
    transition: all 400ms; }
    .results .buffer .title {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      color: #616161;
      margin-top: 20px;
      padding-bottom: 10px;
      padding-left: 22px;
      position: relative;
      will-change: transform, -webkit-transform; }
    .results .buffer .inline-button {
      display: block;
      background: #f5f5f5;
      font-size: 16px;
      height: 48px;
      line-height: 48px;
      color: #717171;
      text-align: center;
      font-style: italic;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      position: relative; }
      .results .buffer .inline-button:before {
        bottom: 0;
        box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
        content: "";
        display: block;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0; }
    .results .buffer:not(.selected) .container > .inline-button {
      display: none; }
    .results .buffer .container {
      font-size: 13px; }
      .results .buffer .container .context:not(.selected) > .before, .results .buffer .container .context:not(.selected) > .after {
        display: none; }
      .results .buffer .container .context:not(.selected) > .inline-button {
        display: none; }
      .results .buffer .container .context .message {
        display: flex;
        line-height: 24px;
        padding: 12px 24px;
        border-bottom: 1px solid #e5e5e5;
        color: #212121;
        background: #fff;
        position: relative; }
        .results .buffer .container .context .message:before {
          bottom: 0;
          box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
          content: "";
          display: block;
          left: 0;
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 0; }
        .results .buffer .container .context .message:last-child {
          border-bottom: none; }
        .results .buffer .container .context .message time {
          width: 132px;
          display: inline-block;
          text-align: right;
          flex-shrink: 0; }
        .results .buffer .container .context .message .container {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1; }
          .results .buffer .container .context .message .container .sender {
            width: 148px;
            display: inline-block;
            padding: 0 24px;
            font-weight: bold;
            flex-shrink: 0; }
          .results .buffer .container .context .message .container .preview {
            flex: 50%; }
            .results .buffer .container .context .message .container .preview .irc_highlight {
              background-color: rgba(251, 246, 167, 0.5); }
          .results .buffer .container .context .message .container .content {
            flex: 50%;
            overflow: hidden; }
            .results .buffer .container .context .message .container .content .irc_bold {
              font-weight: bold; }
            .results .buffer .container .context .message .container .content .irc_italic {
              font-style: italic; }
            .results .buffer .container .context .message .container .content .irc_underline {
              text-decoration: underline; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="0"] {
              color: #ffffff; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="1"] {
              color: #000000; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="2"] {
              color: #000080; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="3"] {
              color: #008000; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="4"] {
              color: #ff0000; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="5"] {
              color: #800000; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="6"] {
              color: #800080; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="7"] {
              color: #ffa500; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="8"] {
              color: #ffff00; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="9"] {
              color: #00ff00; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="10"] {
              color: #008080; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="11"] {
              color: #00ffff; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="12"] {
              color: #4169e1; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="13"] {
              color: #ff00ff; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="14"] {
              color: #808080; }
            .results .buffer .container .context .message .container .content [data-irc_foreground="15"] {
              color: #c0c0c0; }
            .results .buffer .container .context .message .container .content [data-irc_background="0"] {
              background-color: #ffffff; }
            .results .buffer .container .context .message .container .content [data-irc_background="1"] {
              background-color: #000000; }
            .results .buffer .container .context .message .container .content [data-irc_background="2"] {
              background-color: #000080; }
            .results .buffer .container .context .message .container .content [data-irc_background="3"] {
              background-color: #008000; }
            .results .buffer .container .context .message .container .content [data-irc_background="4"] {
              background-color: #ff0000; }
            .results .buffer .container .context .message .container .content [data-irc_background="5"] {
              background-color: #800000; }
            .results .buffer .container .context .message .container .content [data-irc_background="6"] {
              background-color: #800080; }
            .results .buffer .container .context .message .container .content [data-irc_background="7"] {
              background-color: #ffa500; }
            .results .buffer .container .context .message .container .content [data-irc_background="8"] {
              background-color: #ffff00; }
            .results .buffer .container .context .message .container .content [data-irc_background="9"] {
              background-color: #00ff00; }
            .results .buffer .container .context .message .container .content [data-irc_background="10"] {
              background-color: #008080; }
            .results .buffer .container .context .message .container .content [data-irc_background="11"] {
              background-color: #00ffff; }
            .results .buffer .container .context .message .container .content [data-irc_background="12"] {
              background-color: #4169e1; }
            .results .buffer .container .context .message .container .content [data-irc_background="13"] {
              background-color: #ff00ff; }
            .results .buffer .container .context .message .container .content [data-irc_background="14"] {
              background-color: #808080; }
            .results .buffer .container .context .message .container .content [data-irc_background="15"] {
              background-color: #c0c0c0; }

/*# sourceMappingURL=search.css.map */
