* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}

body {
  background: #F2F2F2;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 81.25%;
}

section {
  max-width: 1200px;
  padding: 56px 4rem 0 4rem;
  margin: 0 auto;
}

buffer > article {
  background: #fff;
  font-size: 13px;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)
}

buffer > h2 {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #616161;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 22px;
  position: relative;
  will-change: transform,-webkit-transform;
}

message {
  display: flex;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #e5e5e5;
  color: #212121;
}

message sender {
  width: 148px;
  display: inline-block;
  font-weight: bold;
  flex-shrink: 0;
}

message time {
  width: 148px;
  display: inline-block;
  padding: 0 24px;
  text-align: right;
  flex-shrink: 0;
}

message content {
  padding: 0 24px;
  flex-shrink: 1;
  overflow: hidden;
}

message:last-child {
  border-bottom: none;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 56px;
  background: #4285f4;
  padding: 0px 4rem;
}

nav input[type=text]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

nav input[type=text]:focus::-moz-placeholder {
  color: #757575;
  opacity: 1;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

#searchbar {
  max-width: 1200px;
  margin: 10px auto;
  height: 36px;
  display: block;
  position: relative;
}

nav input[type=text] {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: none;
  -webkit-transition: background .15s;
  transition: background .15s;
  background: rgba(255,255,255,.15);
  border-radius: 2px;
  padding: 0 72px;
  color: #ffffff;
  box-sizing: border-box;
}

#searchicon {
  background-image: url(https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_search_wht_24dp_r1.png);
  display: inline-block;
  width: 72px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

#searchicon span {
  display: none;
}

nav input[type=text]:hover {
  background: rgba(255,255,255,.25);
}


nav input[type=text]:focus {
  background: #f6f6f6;
  color: #212121;
}

nav input[type=text]:focus+#searchicon {
  background-image: url(https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_search_blk_24dp_r1.png);
}