body :first-child {
    margin-top: 8rem;
}

body:last-child {
    margin-bottom: 2rem;
}

form {
    background-color: #f7f7f7;
    margin: 0 auto 25px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    width: 274px;
    padding: 40px 40px;
}

h1 {
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing: antialiased;
    color: #555;
    font-size: 42px;
    font-weight: 300;
    margin: 0 0 15px;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', arial;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

input[type=text], input[type=password] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 36px;
    padding: 0 8px;
    margin: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}

input[type=submit] {
    min-width: 46px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    line-height: 36px;
    border-radius: 3px;
    transition: all 0.218s;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    border: 1px solid #3079ed;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

p.error {
    font-family: 'Open Sans', arial;
    color: red;
    text-align: center;
}

@media (max-width: 800px) {
    body :first-child {
        margin-top: 1rem;
    }

    body:last-child {
        margin-bottom: 1rem;
    }
}
