* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F2F2F2;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 81.25%;
    overflow-y: scroll;
}

section {
    max-width: 1328px;
    padding: 56px 6rem 8rem 6rem;
    margin: 0 auto;
}

buffer {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

buffer.selected {
    background-color: #ddd;
    border: rgba(0, 0, 0, .4);
    padding: 20px 16px;
    margin-left: -16px;
    margin-right: -16px;
}

buffer > article {
    font-size: 13px;
}

buffer > h2 {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #616161;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 22px;
    position: relative;
    will-change: transform, -webkit-transform;
}

message {
    display: flex;
    line-height: 24px;
    padding: 12px 24px;
    border-bottom: 1px solid #e5e5e5;
    color: #212121;
    background: #fff;
    position: relative;
}

message.faded * {
    opacity: .8
}

message sender {
    width: 148px;
    display: inline-block;
    padding: 0 24px;
    font-weight: bold;
    flex-shrink: 0;
}

message time {
    width: 132px;
    display: inline-block;
    text-align: right;
    flex-shrink: 0;
}

message .container, message content {
    flex-shrink: 1;
    overflow: hidden;
}

message .container {
    display: flex;
}

message:last-child {
    border-bottom: none;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 56px;
    z-index: 2;
}

nav .wrapper {
    background: #4285f4;
    padding: 0 6rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    transition: background .15s;
}

nav.search .wrapper {
    background: #fff;
}

nav input[type=text]::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav input[type=text]:focus::-moz-placeholder {
    color: #757575;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#searchbar {
    max-width: 1136px;
    margin: 10px auto;
    height: 36px;
    display: block;
    position: relative;
}

nav input[type=text] {
    width: 100%;
    height: 100%;
    display: inline-block;
    border: none;
    -webkit-transition: background .15s;
    transition: background .15s;
    background: rgba(255, 255, 255, .15);
    border-radius: 2px;
    padding: 0 72px;
    color: #ffffff;
    box-sizing: border-box;
}

#searchicon {
    display: inline-block;
    width: 72px;
    height: 36px;
    position: absolute;
    text-align: center;
    line-height: 36px;
    color: #ffffff;
    left: 0;
    top: 0;
}

#no_more img {
    margin: 8rem auto 0;
    display: block;
}

#no_more h2 {
    display: block;
    text-align: center;
    margin: 1rem;
    color: rgb(113, 113, 113);
    font-weight: 300;
    font-size: 20pt;
}

inline-button {
    display: block;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    color: rgb(113, 113, 113);
    text-align: center;
    font-style: italic;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    position: relative;
}

context {
    display: block;
}

context.selected {
    padding: 50px 0;
    margin: 0 -20px;
}

message:before, inline-button:before {
    bottom: 0;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    content: '';
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

message content > b {
    font-weight: initial;
    background-color: rgba(251, 246, 167, 0.5);
}

section > inline-button {
    margin-top: 20px;
}

article > inline-button {
    background: #f5f5f5;
}

nav input[type=text]:hover {
    background: rgba(255, 255, 255, .25);
}

nav input[type=text]:focus {
    background: #f6f6f6;
    color: #212121;
}

nav input[type=text]:focus + #searchicon {
    color: #212121;
}

.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 5rem;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

#autocomplete {
    top: 100%;
    max-width: 1328px;
    margin: auto;
    padding: 0 6rem;
    transform: translateY(-200%);
    transition: transform 400ms;
    position: relative;
}

#actions {
    position: absolute;
    height: 56px;
    z-index: 8;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    -moz-user-select: -moz-none;
    padding-left: 30px;
    padding-right: 30px;
}

#actions > * {
    height: 30px;
    line-height: normal;
    position: relative;
    padding: 3px;
    cursor: pointer;
    color: #fff;
    transition: all .15s;
}

nav.search #actions > * {
    color: #000;
    opacity: 0.6;
}

#actions > *:hover:before {
    background-color: rgba(0, 0, 0, .12);
    bottom: -4px;
    content: ' ';
    left: -4px;
    margin: auto;
    padding: 4px;
    position: absolute;
    right: -4px;
    top: -4px;
    z-index: -1;
    border-radius: 50%;
}

#autocomplete.active {
    transform: translateY(0);
}

#autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 6px 0;
    background: #fff;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

#autocomplete li {
    cursor: pointer;
    line-height: 36px;
    overflow: hidden;
    padding: 0 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#autocomplete p {
    cursor: default;
    line-height: 36px;
    overflow: hidden;
    padding: 0 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
    color: #646464;
}

#autocomplete li .icon {
    border-radius: 12px;
    height: 24px;
    margin-right: 24px;
    vertical-align: middle;
    width: 24px;
    display: inline-block;
    background-size: cover;
    opacity: 0.6;
}

#autocomplete li:hover, #autocomplete li:focus, #autocomplete li.selected {
    background: rgba(0, 0, 0, 0.03);
}

#results {
    transition: opacity 400ms;
}

#results.hidden {
    opacity: 0;
}

#modal-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

#results.hidden + #modal-background {
    display: block;
}

@media(max-width: 800px) {
    #results {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    nav .wrapper, #autocomplete {
        padding-left: 2rem;
        padding-right: 4rem;
    }

    #actions {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    message {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    message sender {
        padding: 0;
        width: initial;
    }

    message sender:after {
        content: ":";
        margin-right: 8px;
    }

    message .container {
        display: block;
    }

    message time {
        position: absolute;
        right: 8px;
        bottom: 8px;
        width: initial;
        font-style: italic;
        color: #777;
    }
}